<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Restaurant Catalogue">
  <!-- Icon -->
  <link rel="icon" href="../public/favicon.png">
  <!-- Mobile Theme -->
  <meta name="theme-color" content="#DB0000"/>
  <!-- PWA  -->
  <link rel="apple-touch-icon" href="../public/icons/icon-192x192.png">
  <link rel="manifest" href="../public/app.webmanifest">
  <title>Restaurant Apps by Rauf</title>
</head>

<body>
  <skip-link tabindex="1"></skip-link>

  <header-component></header-component>

  <hero-component></hero-component>

  <!-- Content -->
  <main id="content" tabindex="0">
    <main-content></main-content>
  </main>

  <footer-component></footer-component>

</body>

</html>